<div class="container" >
	<h1> Adicionar Cadastro </h1>
	<form class="form-horizontal">
		<div class="form-group">
			<label class="col-sm-2 control-label" for="nome">Nome:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="nome">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="cargo">Cargo:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="cargo">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="usr">Salário:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="salario">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label" for="usr">Data de Admiss&atilde;o:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" id="admissao">
			</div>
		</div>
		<div class="text-right">
			<input type="submit" class="btn btn-default btn-lg" value="Salvar">		
		</div>
	</form>
</div>